@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
    display: none;
  }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.back {
    /* background-image: linear-gradient(#FFFDCD , #A3E6FF ); */
    background-image: linear-gradient(#fffcd8 , #c5eaff );
    
    /* background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%); */
    /* background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%); */

    min-height: 100vh;
    position: fixed;
    z-index: -5;
    height: 100vh;
    width: 100vw;
}
.insert-form{
    width: 40%;
    padding-bottom: 1rem;
}

label {
    font-weight: 800;
}

.grid-table {
    display: grid;
    grid-template-columns: 31% 20% 13% 17% 17.5%;
    font-size: 1.3rem;
    width: 60%;
    margin-top: 0.2rem;
    gap: 0.3%;
}

.grid-table div {
    text-align: center;
    border: 1px solid black;
    /* margin: 0 0.5% 0 0.5%; */
}

.grid-table2 {
    display: grid;
    grid-template-columns: 22% 18% 18% 9.5% 9.5% 9.5% 11.5%;
    font-size: 1.3rem;
    width: 75%;
    margin-top: 0.2rem;
    gap: 0.3%;
}

.grid-table2 div {
    text-align: center;
    border: 1px solid black;
    /* margin: 0 0.5% 0 0.5%; */
}

.table-head {
    font-size: 1.4rem;
}

.nav-ul{
    gap: 0.4rem;
}
@media only screen and (max-width: 767px) {
    .insert-form{
        width: 80%;
    }
    .nav-ul{
        gap: 0;
    }
}

.home-box{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12rem;
    padding: 2rem 5rem 0 5rem;
}

.home-right{
    img{
        width: 35rem;
    }
}

.home-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        text-align: center;
    }
    :nth-child(1){
        font-size: 60px;
        font-family: "Anta", sans-serif;
        font-weight: bolder;
    }
    :nth-child(2){
        font-size: 18px;
    }
}

input[type=radio] {
    background: transparent;
}

.errbtn{
    i{
        transition: all 0.4s ease-out;
    }
}
.errbtn:hover{
    i{
        rotate: -60deg;
    }
}